body {
  background: #f1f1f1;
  font-family: 'BlinkMacSystemFont', -apple-system, sans-serif;
  margin: 0;
  overflow: hidden;
}

.images {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  transform: scale(2.5);
  width: 100vw;
}

.images-image_container {
  background: #fff;
  height: 100px;
  margin: 0 2vw;
  position: relative;
  user-select: none;
  width: 100px;

  img { display: block }
}

.images-image_container-force_size_fill * {
  width: 100% !important;
  height: 100% !important;
}

.images-image_container-info_tray {
  align-items: center;
  background: #fff;
  border-radius: 5em;
  box-sizing: border-box;
  color: #20a224;
  cursor: default;
  display: flex;
  font-feature-settings: "tnum";
  font-size: 6px;
  font-weight: 900;
  height: 20px;
  justify-content: space-between;
  left: 10%;
  margin: 1em auto 0 auto;
  overflow: hidden;
  padding: 0 1em;
  position: absolute;
  top: 100%;
  user-select: none;
  width: 80%;
  z-index: 1;
}

.images-image_container-info_tray--button {
  background: #ff983f;
  color: #fff;
  cursor: pointer;
  justify-content: center;

  &:hover {
    background: #ff9899;
  }
}

.images-image_container-info_tray-number {
  line-height: 1;
  z-index: 1;
}
