body {
  background: #f1f1f1;
  font-family: 'BlinkMacSystemFont', -apple-system, sans-serif;
  margin: 0;
}

.images {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
}

.images-image_container {
  background: #fff;
  box-shadow: 0 20px 40px rgba(0, 0 ,0, .3);
  margin: 0 4vw;
  position: relative;
  user-select: none;

  img { display: block }
}

.images-image_container--hoverable {
  cursor: zoom-in;
  transition: transform .5s ease, box-shadow .5s ease;

  &:hover {
    transform: scale(1.5);
    box-shadow: 0 25px 45px rgba(0, 0 ,0, .2);

    .images-image_container-peeking_number {
      transform: translateY(-.92em) scale(1);
    }

    .graph,
    .images-image_container-overlay_text {
      opacity: 0;
    }
  }
}

.images-image_container-force_size_fill * {
  width: 100% !important;
  height: 100% !important;
}

.images-image_container-peeking_number {
  color: #cccccc;
  font-feature-settings: "tnum";
  font-size: 1.5em;
  font-weight: 900;
  position: absolute;
  text-align: center;
  top: 0;
  transform: scale(.8);
  transition: transform .5s ease;
  width: 100%;
  z-index: -1;
}

.images-image_container-overlay_text {
  color: rgba(white, .4);
  font-feature-settings: "tnum";
  font-size: 1.5em;
  font-weight: 900;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity .5s ease;
  width: 100%;
  z-index: 1;
}

.graph {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: opacity .5s ease;
  width: 100%;
  z-index: 1;
}

.graph-bar_container {
  align-items: flex-end;
  display: flex;
  height: 40%;
  position: relative;
  top: 100%;
}

.graph-bar {
  background: rgba(255, 255, 255, .5);
  border-radius: 1em 1em 0 0;
  flex: 1;
  height: 100%;
  position: relative;

  &:nth-child(8) {
    transition: transform .1s ease;
  }

  &:nth-child(9) {
    transition: transform .2s ease;
  }

  &:nth-child(10) {
    transition: transform .3s ease;
  }

  &:nth-child(even) {
    background: rgba(255, 255, 255, .35);
  }
}
